:root {
    --text-color: black;
    --background-color: beige;
    --blur : 0px;
    --grayscale: 0;
    --contrast: 1.0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
}

ul img {
    transition: filter 0.3s ease-in-out;
    max-width: 100%;
    filter: grayscale(var(--grayscale)) blur(var(--blur)) contrast(var(--contrast));
}

ul {
    list-style: none;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: red;
    color: white;
}


:has(#css1:checked) img {
    --grayscale: 100;
}

:has(#css2:checked) img {
    --blur: 5px;
}

:has(#css3:checked) img {
    --contrast: 10.5;
}