:root {
    --text-color: black;
    --background-color: beige;
    --blur : 0px;
    --grayscale: 0;
    --contrast: 1.0;
    --drop-shadow: 0 0 0;
    --invert: 0;
    --index: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    height: 100vh;
    scroll-snap-align: start;
    padding: 3em;
}
.backgroundBlur {
    background: url('/liam/img/voorbeeld.jpg') center/cover no-repeat;
    width: 80%;
    height: 80%;
}

.blur {
    backdrop-filter: blur(5px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 3em;
    color: var(--text-color);
}

div {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section:nth-child(2) img {
    animation: filterAnimation 5s infinite;
    width: 80%;
    height: 80%;
}


.filtered-image {
    filter: url(#coolFilter);
    width: 80%;
    height: 80%;
}


ul img {
    transition: filter 0.3s ease-in-out;
    max-width: 50%;
    filter: 
    grayscale(var(--grayscale)) 
    blur(var(--blur)) 
    contrast(var(--contrast)) 
    drop-shadow(var(--drop-shadow))
    invert(var(--invert));
}

ul {
    list-style: none;
    padding: 0;
}

li {
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: calc(var(--index) * 0.05s);
    animation-fill-mode: both;
}

input[type="checkbox"] {
    display: none;
}

label {
    width: 50%;
    display: flex;
    padding: 10px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

label:hover {
    scale: 1.03;
}

input[type="checkbox"]:checked + label {
    background-color: red;
    color: white;
}

:has(#css1:checked) img {
    --grayscale: 100;
}

:has(#css2:checked) img {
    --blur: 5px;
}

:has(#css3:checked) img {
    --contrast: 10.5;
}

:has(#css4:checked) img {
    --drop-shadow: 0 0 5px black;
}

:has(#css5:checked) img {
    --invert: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes filterAnimation {
    0% {
        filter: sepia(0) saturate(2) hue-rotate(0deg) brightness(1);
    }
    25% {
        filter: sepia(0.5) saturate(4) hue-rotate(45deg) brightness(1.2);
    }
    50% {
        filter: sepia(1) saturate(8) hue-rotate(90deg) brightness(1.5);
    }
    75% {
        filter: sepia(0.5) saturate(4) hue-rotate(45deg) brightness(1.2);
    }
    100% {
        filter: sepia(0) saturate(2) hue-rotate(0deg) brightness(1);
    }
}

ul li:nth-child(1) {
    --index: 0;
}

ul li:nth-child(2) {
    --index: 1.2;
}

ul li:nth-child(3) {
    --index: 2.2;
}

ul li:nth-child(4) {
    --index: 3.2;
}

ul li:nth-child(5) {
    --index: 4.2;
}

ul li:nth-child(6) {
    --index: 5;
}